header{
	width: 100%;
	height: 100px;
	padding: 22px 100px;
	position: sticky;
	top: 0;
	background: white;
	z-index: 1;
}
.logo{
	display: inline-block;
	vertical-align: middle;
}
.nav, li{
	display: inline-block;
	vertical-align: middle;
	color: #696969;
}
.nav{
	margin: 0px 192px;
}
.book-btn{
	padding: 13px 50px;
	background: #FF5403;
	color: #FFF;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
}
li{
	color: #696969;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
}
.list{
	margin: 0px 50px;
}
.banner{
	width: 100%;
	height: 722px;
}
h1{
	color: #FFF;
	font-family: Inter;
	font-size: 96px;
	font-style: normal;
	font-weight: 700;

}
main{
	position: relative;
	top:0;
}
.main{
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	margin-top: 191px;
}
.main-p{
	color: #FFF;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	margin-bottom: 50px;

}
.main-dis{
	padding: 13px 50px;
	background: #FF5403;
	color: #FFF;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
}
.section1{
	width: 100%;
	height: 1182px;
	margin: 282px 0px 0px 0px;
}
.visit{
	color: #041562;
	text-align: center;
	font-family: Inter;
	font-size: 36px;
	font-style: normal;
	font-weight: 600;
}
.best-place{
	color: #626262;
	text-align: center;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	margin: 20px 0px 75px 0px;
}

.island-java{
	position: relative;
	top: 0;
	display: inline-block;
	margin: 0px 50px 0px 0px;

}
.java{
	position: absolute;
	top: 15px;
	right: 45px;
	color: blueviolet;
	font-family: Inter;
	font-size: 36px;
	font-style: normal;
	font-weight: 600;
}
.island-bali{
	position: relative;
	top: 0;
	display: inline-block;
}
.bali{
	position: absolute;
	bottom: 20px;
	left: 50px;
	color: yellow;
	font-family: Inter;
	font-size: 36px;
	font-style: normal;
	font-weight: 600;
	
}
.island-section2{
	margin: 50px 0px 0px 0px;
}
.island-sumatra{
	position: relative;
	display: inline-block;
}
.sumatra{
	position: absolute;
	top: 10px;
	left: 30px;
	color: green;
	font-family: Inter;
	font-size: 36px;
	font-style: normal;
	font-weight: 600;
}
.island-flores{
	position: relative;
	display: inline-block;
	margin: 0px 0px 0px 50px;
}
.flores{
	position: absolute;
	bottom: 20px;
    right: 45px;
	color: pink;
	font-family: Inter;
	font-size: 36px;
	font-style: normal;
	font-weight: 600;
}
.more{
	padding: 13px 50px;
	background: #FF5403;
	color: #FFF;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	margin: ;
}
.discover-more{
	text-align: center;
	margin-top: 75px;
}
.section2{
	width: 100%;
	height: 712px;
	margin-top: 300px;
}
.main-hotel-restorans{
	color: #041562;
	text-align: center;
	font-family: Inter;
	font-size: 36px;
	font-style: normal;
	font-weight: 600;
}
.bests{
	color: #626262;
	text-align: center;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	margin: 20px 0px 0px 0px;
}

.hotel-restorans{
	width: 1350px;
	height: 549px;
	margin-top: 75px;
}

.hoteel1,.hoteel2, .hoteel3{
	width: 404px;
	height: 549px;
	display: inline-block;
}
.hoteel2{
	margin: 0px 50px;
}
.hotel-grand{
	color: #000;
	margin: 40px 0px 25px;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
}
.review{
	color: #000;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	display: inline-block;

}
.name{
	color: #626262;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	margin: 10px 0px;
}
.from{
	color: #020202;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;

}
.price{
	color: #DA1212;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
}
footer{
	margin-top: 300px 0px 0px 0px;
	display: flex;
	width: 1512px;
	height: 454px;
	padding: 108px 100px;
	background: #19224D;
}
.footer{
	width: 1300px;
	height: 300px;
/*	background: white;*/
}
.footer-list{
	width: 314px;
	height: 266px;
}
.discover{
	color: #FFF;
	text-align: center;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
}