body{

}
header{
	width: 100%;
	height: 100px;
	padding: 22px 100px;
	position: sticky;
	top: 0;
	background: white;
	z-index: 1;
}
.logo{
	display: inline-block;
	vertical-align: middle;
}
.nav, li{
	display: inline-block;
	vertical-align: middle;
	color: #696969;
}
.nav{
	margin: 0px 192px;
}
.book-btn{
	padding: 13px 50px;
	background: #FF5403;
	color: #FFF;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
}
li{
	color: #696969;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
}
.list{
	margin: 0px 50px;
}
.banner{
	width: 100%;
	height: 722px;
}
h1{
	color: #FFF;
	font-family: Inter;
	font-size: 96px;
	font-style: normal;
	font-weight: 700;

}
main{
	position: relative;
	top:0;
}
.main{
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	margin-top: 191px;
}
.main-p{
	color: #FFF;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	margin-bottom: 50px;

}
.main-dis{
	padding: 13px 50px;
	background: #FF5403;
	color: #FFF;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
}
